@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=DM+Serif+Display&display=swap');
@import url("bootstrap-icons/font/bootstrap-icons.css");

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

::-webkit-scrollbar {
    appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 50vw;
}

html {
    overflow-x: hidden;
}

body {
    width: 100vw;
    background-color: var(--bc);
    display: flex;
    flex-direction: column;
    color: white;

    font-family: 'DM Sans', sans-serif;
}

button {
    appearance: none;
    background: none;
    border: none;
    cursor: pointer;
}

:link, :visited {
    color: var(--la);
    text-decoration: underline;
    font-weight: bold;
    transition: color 100ms ease-out;
}

:link:hover, :visited:hover {
    color: var(--ls);
}




i::before {
    mix-blend-mode: difference;
}

main, section {
    min-height: 100vh;
    width: 100%;
}

body[data-ready="false"] > *:not(main, header, #prompt) {
    display: none !important;
}



.ls { background-color: var(--ls) }
.la { background-color: var(--la) }
.bc { background-color: var(--bc) }
.da { background-color: var(--da) }
.ds { background-color: var(--ds) }



#prompt {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

#particles-container {
    width: 100%;
    height: 100%;
}



header {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: clamp(30px, 10%, 50px);
    display: flex;
    align-items: center;
    font-size: clamp(1em, 4vw, 1.25em);
    padding: 6px;
    gap: 5px;
}

.header-item {
    background-color: rgba(0, 0, 0, .1);
    height: 100%;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    border-radius: 8px;
    transition: background-color 100ms ease-out;
    cursor: pointer;
}

.header-item:hover {
    background-color: rgba(0, 0, 0, .15);
}

.header-item.favorite {
    margin-left: auto;
    background: none;
    color: var(--bc);
}



main {
    z-index: 1;
    height: 100vh;
}

body[data-ready="true"] > main::after {
    content: '';
    position: absolute;
    border: 2em solid transparent;
    border-top: 2em solid var(--ds);
    left: 50%;
    translate: -50%;
}

#main-container {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    position: relative;
}

.example-text {
    color: white;
    mix-blend-mode: difference;
    font-size: clamp(3em, 4vw, 8em);

    font-family: "DM Serif Display", sans-serif;
}

.colors {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
}

.color {
    border: 2px solid rgba(0, 0, 0, .1);
    width: 50px;
    height: 50px;
    border-radius: 4px;
    translate: 0 -101%;
    transition: translate 250ms ease-out;
    position: relative;
    cursor: pointer;
}

.color::after {
    content: "\F290";
    font-family: "bootstrap-icons";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, .1);
    opacity: 0;
    transition: opacity 100ms ease-out;
}

.color:hover {
    border: none;
}

.color:hover::after {
    opacity: 1;
}

.colors.animating > .color {
    translate: 0 0;
}

.scroll {
    font-size: 2em;
    overflow: hidden;
    width: 100%;
    translate: 0 100%;
}

.scroll::before {
    translate: 0 -125%;
    opacity: 0;
    transition: all 250ms ease-out;
    transition-delay: 500ms;
}

.colors.animating + .scroll {
    animation: scroll-bounce 1s ease-in-out infinite;
    animation-delay: 500ms;
}

.colors.animating + .scroll::before {
    translate: 0 0;
    opacity: 1;
}

@keyframes scroll-bounce {
    0%, 100% { translate: 0 100% }
    50% { translate: 0 calc(100% + 10px) }
}



#sec1 {
    --pad: clamp(25px, 5vw, 50px);

    padding: calc(var(--pad) * 3) var(--pad);
    display: grid;
    place-items: center;
}

.color-info {
    margin: 0 auto;
    width: clamp(100px, 75vw, 900px);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(var(--pad) * 3);
}

.color-info-card {
    width: 100%;
    display: flex;
    gap: 30px;
}

.color-info-img {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    border: 2px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    position: relative;
    transition: background-size 250ms ease-out;
}

.color-info-img::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    translate: 10% 10%;
    opacity: .75;
    transition: translate 250ms ease-out;
    
    background-color: inherit;
    border-radius: inherit;
    border: inherit;
}

.color-info-img:hover {
    background-size: auto 125%;    
}

.color-info-img:hover::before {
    translate: 0 0;
}

.color-info-text {
    flex-grow: 1;
    height: 100%;
    width: 100px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    justify-content: center;
    flex-direction: column;
    color: var(--ds);
}

.color-info-text > h3 {
    font-family: "DM Serif Display", sans-serif;
}

.color-info-card[rev] > .color-info-text {
    align-items: flex-start;
    text-align: left;
}

.color-info-button {
    background-color: var(--bc);
    color: var(--ls);
    padding: 0 4px;
    margin-top: 8px;
    border-radius: 4px;
    font-family: 'DM Serif Display', sans-serif;
    border: 2px solid rgba(0, 0, 0, .05);
    letter-spacing: 1px;
    transition: scale 250ms ease-out;
}

.color-info-button:hover {
    scale: 1.1;
}



footer {
    height: clamp(100px, 15vh, 150px);
    color: var(--ls);
    border-radius: 50% 50% 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer::before {
    content: '';
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: var(--ls);
    z-index: -1;
    left: 0;
}

.footer-item.github {
    font-size: 3.25em;
    cursor: pointer;
    transition: color 100ms ease-out;
}

.footer-item.github:hover {
    color: white;
}



@media (min-width: 1000px) {
    #sec1 {
        padding: 0 var(--pad);
    }

    .color-info {
        display: grid;
        grid-template-areas:
            "s1 l s2"
            "s3 l s4";
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .color-info-card:nth-of-type(3) {
        grid-area: l;
    }

    .color-info-card {
        width: clamp(200px, 25vw, 400px);
    }
}

@media (max-width: 600px) {
    .color-info-img {
        position: absolute;
        z-index: -1;
        opacity: .25;
    }

    .color-info-card[rev] > .color-info-img {
        right: 0;
    }

    .color-info-img::before {
        content: none;
    }
}