@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(39, 38, 48);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "DM Serif Display", sans-serif;
}

.example-text {
    color: white;
    mix-blend-mode: difference;
    font-size: 4em;
}